html, body {
    overflow: hidden;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: var(--main-color-red);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--main-color-text-light);
    font-family: var(--button-font-family);
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    box-shadow: 7px 7px 10px gray;
}

.circleAnimation {
    animation: morphDezoom 2s ease-out;
}

.text {
    font-size: var(--titre-font-size);
    font-family: var(--main-titre-font-family);
    color: var(--main-color-text-light);
    margin: var(--main-margin);
    font-weight: bold;
    text-decoration: none;
}   

.button 
{
    text-decoration: none;
    background: none;
    border: none;
}


.circle:active {
    transform: translateY(0%);
    box-shadow: inset 5px 10px 15px black;
}

.container-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .circle {
        width: 200px;
        height: 200px;
    }
    .text {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .circle {
        width: 150px;
        height: 150px;
    }

    .text {
        font-size: 1rem;
    }
}

@keyframes morphDezoom {
    0% {
        transform: scale(1) rotate(0deg);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: scale(8) rotate(360deg);
        opacity: 1;
    }
}
